*{
    font-family: sans-serif;
    
}
:root{
    --corTexto:#4B0082;
    --background:#B0C4DE;
    --branco:#fff;
}
body{
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
.dados-pessoais{
    color:var(--corTexto);
    font-weight: bold;
    padding-top: 20px;
    margin-left: 7%;
}
.texto-area{
    color:var(--corTexto);
    font-weight: bold;
    padding-top: 20px;

}
.tecnologias{
    color:var(--corTexto);
    font-weight: bold;
    padding-top: 20px;

}
.senioridade{
    color:var(--corTexto);
    font-weight: bold;
    padding-top: 20px;

}
.segmento{
    color:var(--corTexto);
    font-weight: bold;
    padding-top: 20px;

}
.titulo{
    color:var(--corTexto);
    font-weight: bold;
    padding-top: 20px;

}
.button{
    margin-top: 20px;
    background-color: var(--corTexto);
    color: var(--branco);
    border-radius: 5px;
    width: 150px;
    height: 50px;
}
