*{
    font-family: sans-serif;
    
}
body{
    background-color:#B0C4DE;
}
.dados-pessoais{
    color:#4B0082;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 7%;
}
.texto-area{
    color:#4B0082;
    font-weight: bold;
    padding-top: 20px;

}
.tecnologias{
    color:#4B0082;
    font-weight: bold;
    padding-top: 20px;

}
.senioridade{
    color:#4B0082;
    font-weight: bold;
    padding-top: 20px;

}
.segmento{
    color:#4B0082;
    font-weight: bold;
    padding-top: 20px;

}
.titulo{
    color:#4B0082;
    font-weight: bold;
    padding-top: 20px;

}
button{
    color:#fff;
    background-color: #4B0082;
    border-radius: 15px;
    width: 50px;
}