*{
    margin: 0;
    box-sizing: border-box;
    padding:0;
    font-family: 'Lexend', sans-serif;
   
}
:root{
    --primaria:#fc4c54;
    --secundaria:#ed8b95;
    --fundo:#1d2434;
    --branco:#fff;
    --teste:#354463;
    font-size: 62,5%;
}
body{
    background-color: var(--fundo);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.logo{
    font-size: 2.0rem;
    color: var(--primaria);
}
.menu ol , a{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.0rem;
    color:var(--branco);
}
.principal{
    display: flex;
    align-items: center;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    width: 50.0rem;
    height: 50.0rem;
    color:var(--branco);
    padding-left: 2.0rem;
    
    
}
#title{
    color:var(--primaria);
    padding-top: 5.0rem;
    display: flex;
    flex-direction: column;
    padding-top: 20.0rem;
}
aside{
    display: flex;
}
.sobre{
    display: flex;
}
.imagem-sobre{
    width: 50.0rem;
    height: 50.0rem;
}
.texto-sobre{
    width: 50.0rem;
    height: 50.0rem;
    color:var(--branco);
}
.texto-sobre p{
    margin-top: 1.5rem;
    background-color: #fc4c54;
}
